<nav class="navbar navbar-light bg-white shadow fixed-top">
  <div class="container-fluid">
    <a href="#" class="navbar-brand">
      <img src="assets/logo.svg" alt="Fluig" height="40">
    </a>
    
    <div class="btn-group">
      <div class="input-group-prepend">
        <div class="input-group-text"><span class="fa fa-user"></span></div>
      </div>
      <button type="button" class="btn btn-outline-secondary">administrador <span class="fa fa-cog"></span></button>
    </div>
  </div>
</nav>